<div class="container-fluid">
  <div class="row d-flex justify-content-center py-5" style="height: 850px">
    <div
      class="col-5 align-self-center p-5"
      data-aos="fade-down"
      data-aos-duration="1500"
    >
      <h1 class="text-secondary mb-3">CRYPTOR™</h1>
      <h1 class="text-info mb-3 display-2">Protect Your File</h1>
      <h1 class="text-info mb-3">Encrypt & Decrypt</h1>
      <p class="mb-5">Your easy solution to encrypt your file for free.</p>

      <a
        class="btn btn-outline-info"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#encrypt"
        ><i class="bi bi-shield-lock-fill"></i> Encrypt</a
      >
      <a
        class="btn btn-outline-info"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#decrypt"
        ><i class="bi bi-key-fill"></i> Decrypt</a
      >
    </div>
    <div
      class="col-6 align-self-center"
      data-aos="fade-down"
      data-aos-duration="1500"
    >
      <img src="./assets/img1.png" alt="" height="750px" />
    </div>
  </div>
</div>
