<div class="container-fluid">
  <div
    class="my-5 px-5 text-light"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <h3 class="text-info">Advanced Encryption Standard</h3>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 200px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">1.</span> Key Initialization</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary">
        Kunci enkripsi yang digunakan dalam AES harus diinisialisasi dengan
        benar. Kunci ini harus memiliki panjang 128, 192, atau 256 bit.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 200px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">2.</span> Key Expansion</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary">
        Kunci enkripsi yang diinisialisasi diperluas menjadi serangkaian
        subkunci yang akan digunakan dalam setiap putaran enkripsi.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 550px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">3.</span> Encryption Rounds</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary">
        Proses enkripsi AES terdiri dari beberapa putaran enkripsi yang
        menggabungkan operasi substitusi, pergeseran, dan percampuran bit.
      </p>
      <p class="fs-5 text-secondary">
        a. SubBytes: <br />
        Setiap byte dalam blok teks terang digantikan dengan byte yang sesuai
        dalam tabel substitusi S-box.
      </p>
      <p class="fs-5 text-secondary">
        b. ShiftRows: <br />
        Setiap baris dalam blok teks terang digeser ke kiri sejumlah langkah
        tertentu.
      </p>
      <p class="fs-5 text-secondary">
        c. MixColumns: <br />
        Kolom-kolom dalam blok teks terang diubah melalui operasi perkampungan
        bit.
      </p>
      <p class="fs-5 text-secondary">
        d. AddRoundKey: <br />
        Setiap byte dalam blok teks terang di-XOR dengan satu byte dari subkunci
        yang sesuai.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 200px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">4.</span> Final Round</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary">
        Putaran terakhir dalam enkripsi AES tidak termasuk operasi Perkampungan
        Bit (MixColumns).
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 200px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">5.</span> Encryption Output</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary">
        Setelah putaran terakhir selesai, hasil enkripsi AES adalah blok teks
        terenkripsi.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 200px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 align-self-center times-font">
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary">
        Tahapan-tahapan ini dilakukan secara berulang untuk setiap blok teks
        yang akan dienkripsi. AES adalah algoritme enkripsi yang sangat kuat dan
        digunakan secara luas dalam berbagai aplikasi keamanan.
      </p>
    </div>
  </div>
</div>
