<div class="container-fluid">
  <div
    class="my-5 text-light text-center"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <h3 class="text-info">Frequently Asked Question</h3>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 350px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">1.</span> Apa itu
        <span class="text-info">enkripsi</span> ?</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary" style="padding: 0 200px 0 200px">
        Enkripsi adalah proses mengubah data asli menjadi bentuk yang tidak
        dapat dibaca dan dimengerti (terenkripsi) dengan menggunakan algoritma
        dan kunci enkripsi. Ini bertujuan untuk melindungi data dari akses yang
        tidak sah.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 350px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">2.</span> Mengapa
        <span class="text-info">enkripsi</span> penting dalam keamanan data
        ?</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary" style="padding: 0 200px 0 200px">
        Enkripsi penting karena melindungi data saat berada dalam perjalanan
        atau saat disimpan. Dengan mengenkripsi data, bahkan jika data tersebut
        direbut atau diakses oleh pihak yang tidak sah, mereka tidak akan dapat
        membacanya tanpa kunci dekripsi yang benar.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 350px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">3.</span> Bagaimana
        <span class="text-info">enkripsi</span> bekerja ?</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary" style="padding: 0 200px 0 200px">
        Enkripsi bekerja dengan mengubah teks atau data asli menjadi bentuk yang
        tidak dapat dimengerti menggunakan algoritma khusus dan kunci enkripsi.
        Proses ini mengubah bit data menjadi format yang tidak beraturan dan
        hanya dapat diurai kembali dengan kunci yang benar.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 350px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">4.</span> Apa perbedaan antara
        <span class="text-info">enkripsi</span> dan
        <span class="text-info">dekripsi</span> ?</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary" style="padding: 0 200px 0 200px">
        Enkripsi adalah proses mengubah data asli menjadi bentuk terenkripsi,
        sedangkan dekripsi adalah proses mengubah data terenkripsi kembali
        menjadi data asli menggunakan kunci yang sesuai.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 350px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">5.</span> Apa itu kunci
        <span class="text-info">enkripsi</span>, dan mengapa kunci ini penting
        ?</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary" style="padding: 0 200px 0 200px">
        Kunci enkripsi adalah informasi rahasia yang digunakan dalam proses
        enkripsi dan dekripsi. Kunci ini penting karena tanpa kunci yang benar,
        tidak mungkin untuk mengakses atau mengurai data yang telah dienkripsi.
      </p>
    </div>
  </div>
  <div
    class="row justify-content-center py-3"
    style="background-color: #212529; height: 350px"
    data-aos="slide-right"
    data-aos-duration="1500"
  >
    <div class="col-10 text-center align-self-center times-font">
      <span class="fs-4 text-light"
        ><span class="text-info">6.</span> Bagaimana cara melindungi kunci
        <span class="text-info">enkripsi</span> agar tetap aman ?</span
      >
      <hr class="text-secondary" />
      <p class="fs-5 text-secondary" style="padding: 0 200px 0 200px">
        Untuk melindungi kunci enkripsi, pastikan untuk menyimpannya dengan
        aman, menerapkan manajemen kunci yang tepat, dan menggunakan teknik
        keamanan tambahan seperti penggunaan hardware security module (HSM).
      </p>
    </div>
  </div>
</div>
