<div id="modalWrapper">
  <%- include('./component/modal/encrypt') %>
  <!--  -->
  <%- include('./component/modal/decrypt') %>
</div>

<div class="text-secondary">
  <section><%- include('./component/home/welcome') %></section>
  <!--  -->
  <section><%- include('./component/home/about') %></section>
</div>
